// Requires: @room_type

$row = $("tr#<%= dom_id(@room_type) %>");

// Replace contents of the table row
$row.empty();
$row.append('<td colspan="5"></td>');

$form_container = $("tr#<%= dom_id(@room_type) %> td");

$form_container.append("<h3>Edit Room Type</h3>");
// Insert the form
$form_container.append('<%= j( render(partial: "form", locals: {property: nil, room_type: @room_type}) ) %>');


// Cancel link function
function hideEditRoomTypeForm(id) {
	alert(id);

	$row = $("tr#" + id);
	// Clear the row
	$row.empty();

	// Display @room_type in the row
	$row.replaceWith('<%= j(render @room_type, room_type: @room_type) %>');
}